header {
    border: 1px solid goldenrod
}

header ul {
    display: flex;
    list-style-type: none;
}

header ul li {
    margin: .2em;
    color:#ff0000;
}

.disabled {
 color: grey;
}

a .disabled {
    color: purple;
}

.active {
    color: yellow;
}

 .parent div:nth-child(1) {
    color: red;
}

.parent div:nth-child(3) {
    color: blue;
}